// Custom styles.

body {
  background:url(/images/background.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.post-time { 
  color: #663366;
  text-align:center; 
  font-size: 10px; 
}

.post-title-link:hover {
    color: #666666;
}



th {
    background-color: #4F81BD;
    color: white;
    font-size: 15px;
}

tr:nth-child(even) {background: #DBE5F1}

header.header {
    background-color: transparent;
}

.posts-expand .post-title-link::before {
    background-color: #993399;
    transition-duration: 0.3s;
}

.post-button a {
    border-bottom: none;
}

.brand:hover {
    color: #1c1a94;
}


.menu .menu-item a:hover {
    color: #1c1a94;
}



.highlight table {
    text-align: right;
}



code {
    border-radius: 5px;
}

.highlight {
    border-radius: 3px;
}

.posts-expand .post-tags a {
    background: transparent;
    color: #0a7d7d;
}

.posts-expand .post-tags a:hover {
    background: transparent;
}

.pagination .page-number.current {
    background: transparent;
    color: #b200c7;
}